@page
@using Utilities.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Mike's Shopify Stock Option Values";
}

<h1>@ViewData["Title"]</h1>

<h2>Assumptions</h2>
<ul>
    <li>Original Price: @Model.OriginalPrice.FormatCurrency()</li>
    <li>Current Price: @Model.CurrentPrice.FormatCurrency()</li>
    <li>Share Count: @Model.ShareCount</li>
</ul>

<h2>Original Value: @Model.OriginalValue.FormatCurrency()</h2>
<h2>Current Value: @Model.CurrentValue.FormatCurrency()</h2>
<h2><strong>Difference: @Model.Difference.FormatCurrency()</strong></h2>

<p>Values current as of @DateTime.Now.FormatTimestamp()</p>
